<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderedItem">
            <h2><span jhiTranslate="jhipsterMongodbWithDtoApp.orderedItem.detail.title">Ordered Item</span> {{orderedItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.orderedItem.catalogItemId">Catalog Item Id</span></dt>
                <dd>
                    <span>{{orderedItem.catalogItemId}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.orderedItem.name">Name</span></dt>
                <dd>
                    <span>{{orderedItem.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.orderedItem.price">Price</span></dt>
                <dd>
                    <span>{{orderedItem.price}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.orderedItem.quantity">Quantity</span></dt>
                <dd>
                    <span>{{orderedItem.quantity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ordered-item', orderedItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
