<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterMongodbWithDtoPaginationApp.customerOrder.home.title">Customer Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-order" [routerLink]="['/customer-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterMongodbWithDtoPaginationApp.customerOrder.home.createLabel">
            Create new Customer Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="customerOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="jhipsterMongodbWithDtoPaginationApp.customerOrder.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="jhipsterMongodbWithDtoPaginationApp.customerOrder.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentDetailsCreditCardNumber"><span jhiTranslate="jhipsterMongodbWithDtoPaginationApp.customerOrder.paymentDetails">Payment Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerUsername"><span jhiTranslate="jhipsterMongodbWithDtoPaginationApp.customerOrder.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shippingDetailsAddress"><span jhiTranslate="jhipsterMongodbWithDtoPaginationApp.customerOrder.shippingDetails">Shipping Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerOrder of customerOrders ;trackBy: trackId">
                <td><a [routerLink]="['/customer-order', customerOrder.id, 'view' ]">{{customerOrder.id}}</a></td>
                <td>{{customerOrder.date | date:'medium'}}</td>
                <td jhiTranslate="{{'jhipsterMongodbWithDtoPaginationApp.OrderStatus.' + customerOrder.status}}">{{customerOrder.status}}</td>
                <td>
                    <div *ngIf="customerOrder.paymentDetailsId">
                        <a [routerLink]="['../payment-details', customerOrder.paymentDetailsId , 'view' ]" >{{customerOrder.paymentDetailsCreditCardNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customerOrder.customerId">
                        <a [routerLink]="['../customer', customerOrder.customerId , 'view' ]" >{{customerOrder.customerUsername}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customerOrder.shippingDetailsId">
                        <a [routerLink]="['../shipping-details', customerOrder.shippingDetailsId , 'view' ]" >{{customerOrder.shippingDetailsAddress}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/customer-order', customerOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer-order', customerOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-order/'+ customerOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="customerOrders && customerOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
