<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerOrder">
            <h2><span jhiTranslate="jhipsterMongodbWithDtoApp.customerOrder.detail.title">Customer Order</span> {{customerOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.customerOrder.date">Date</span></dt>
                <dd>
                    <span>{{customerOrder.date}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.customerOrder.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterMongodbWithDtoApp.OrderStatus.' + customerOrder.status}}">{{customerOrder.status}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.customerOrder.paymentDetails">Payment Details</span></dt>
                <dd>
                    <div *ngIf="customerOrder.paymentDetailsId">
                        <a [routerLink]="['/payment-details', customerOrder.paymentDetailsId, 'view']">{{customerOrder.paymentDetailsCreditCardNumber}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.customerOrder.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="customerOrder.customerId">
                        <a [routerLink]="['/customer', customerOrder.customerId, 'view']">{{customerOrder.customerUsername}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.customerOrder.shippingDetails">Shipping Details</span></dt>
                <dd>
                    <div *ngIf="customerOrder.shippingDetailsId">
                        <a [routerLink]="['/shipping-details', customerOrder.shippingDetailsId, 'view']">{{customerOrder.shippingDetailsAddress}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterMongodbWithDtoApp.customerOrder.orderedItems">Ordered Items</span></dt>
                <dd>
                    <span *ngFor="let orderedItems of customerOrder.orderedItems; let last = last">
                        <a [routerLink]="['/ordered-item', orderedItems?.id, 'view' ]">{{orderedItems.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-order', customerOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
